<!DOCTYPE html>
<html lang="en" ng-app="fideligard">
  <head>
    <base href="/#/">
    <title>Fideligard</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body novalidate>
    <div ui-view="overlay"></div>
    <div class="container-fluid">
      <h1 class="title">Fideligard Portfolio Simulator</h1>
      <%= render partial: 'shared/navbar' %>
      <flash-message></flash-message>
      <div class="row">
        <div class="col-md-7 pull-right-md">
          <div class="row">
            <div class="col-xs-12">
              <section class="bordered" ui-view="dateWidget"></section>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <section class="bordered" ui-view="userData"></section>
            </div>
          </div>
        </div>
        <div class="col-md-5 pull-left-md">
          <section class="bordered" ui-view="stockData"></section>
        </div>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
